html,
body {
  margin: 0;
  padding: 0;
}

.gitLink {
  position: absolute;
  right: 0;
  top: 0;
}

#defaultCanvas0 {
  /* letter-spacing: 1rem; */
}



.p5Canvas {
  /* position: relative; */
}

svg {
  /* letter-spacing: 2rem; */
  /* position: relative; */
  /* width: auto !important; */
  /* height: 100% !important; */
}
